# TextIF model training configuration
name: Text_XRestormer
experim_name: Experiments/Text_XRestormer_Med
net_parent: Text_XRestormer
net_distill: XRestormer
loss: Loss_TextFusion
tags: EXP_Text_XRestormer_Med_PET
train_dataset: PET_MRI
val_dataset: PET_MRI
test_dataset: PET_MRI
train_batch_size: 4
val_batch_size: 1
num_workers: 8
drop_last: false
scale: 1
save_path: ./save_images/text_xrestormer/Med/
current_epoch: 0

# Model parameters
text_xrestormer_params:
  inp_A_channels: 3
  inp_B_channels: 1
  out_channels: 3
  dim: 48
  num_blocks: [2,2,2,2]
  num_refinement_blocks: 4
  channel_heads: [1,2,4,8]
  spatial_heads: [2,2,3,4]
  overlap_ratio: [0.5,0.5,0.5,0.5]
  window_size: 8
  spatial_dim_head: 16
  ffn_expansion_factor: 2.66
  bias: false
  LayerNorm_type: WithBias
  cross_attention_type: SSA
  fusion_type: spatial_attention

distill_params:
  inp_A_channels: 3
  inp_B_channels: 1
  out_channels: 3
  dim: 16
  num_blocks: [2,2,2,2]
  num_refinement_blocks: 2
  channel_heads: [1,2,4,8]
  spatial_heads: [2,2,3,4]
  overlap_ratio: [0.5,0.5,0.5,0.5]
  window_size: 8
  spatial_dim_head: 16
  ffn_expansion_factor: 2
  bias: false
  LayerNorm_type: WithBias
  cross_attention_type: SSA
  fusion_type: spatial_attention
  # inp_A_channels: 3
  # inp_B_channels: 1
  # out_channels: 3
  # dim: 48
  # num_blocks: [2,2,2,2]
  # num_refinement_blocks: 4
  # channel_heads: [1,2,4,8]
  # spatial_heads: [2,2,3,4]
  # overlap_ratio: [0.5,0.5,0.5,0.5]
  # window_size: 8
  # spatial_dim_head: 16
  # ffn_expansion_factor: 2.66
  # bias: false
  # LayerNorm_type: WithBias
  

# Optimizer settings
optimizer:
  type: ADAMW
  args:
    lr: 1.0e-4  
    weight_decay: 0.0001
    momentum: 0.999
  parent_scheduler:
    type: CosineAnnealingLR
    args:
      T_max: 1000  
      eta_min: 1.0e-6  
  distill_scheduler:
    type: CosineAnnealingLR
    args:
      T_max: 1000  
      eta_min: 1.0e-7  

# Training settings  
trainer:
  total_epochs: 2000
  parent_epochs: 1000
  distill_weight: 0.6
  test_freq: 50
  save_top_k: 3
  ema: false
  clip_grad_norm: 1.0
# loss
loss_weights:
  feature_weight: 0.1 # 1e-2
  base_weight: 1.0 # 1
  result_weight: 1.0 # 1e-2
  feature_dim: [48, 16]
  # cc_weight: 5.0 # 1e-5 

# Dataset configurations
CT_MRI: &dataset_default  
  max_value: 255.0
  patch_size: 128
  data_augmentation: true
  data_dir:
    train_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/train/CT
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/train/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/train/text
      # 5% for val
      range: [0, 0.95]
    val_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/train/CT
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/train/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/train/text
      range: [0.95, 1]
    test_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/test/CT
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/test/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/CT-MRI/test/text
      range: [0, 1]
PET_MRI:
  <<: *dataset_default 
  patch_size: 128
  data_dir:
    train_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/train/PET
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/train/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/train/text
      range: [0, 0.95]
    val_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/train/PET
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/train/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/train/text
      range: [0.95, 1]
    test_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/test/PET
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/test/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/PET-MRI/test/text
      range: [0, 1]
SPECT_MRI:
  <<: *dataset_default
  data_dir:
    train_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/train/SPECT
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/train/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/train/text
      range: [0, 0.95]
    val_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/train/SPECT
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/train/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/train/text
      range: [0.95, 1]
    test_dir:
      data_dir_A: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/test/SPECT
      data_dir_B: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/test/MRI
      text_dir: ./data/Med/Havard-Medical-Image-Fusion-Datasets-main/MySplits/SPECT-MRI/test/text
      range: [0, 1]



# Loss configurations
loss_configs:
  task_configs:
    contrast_enhancement:
      max_ratio: 40
      consist_ratio: 60
      text_ratio: 96
      ssim_ratio: 4
    edge_preservation:
      max_ratio: 48
      consist_ratio: 80
      text_ratio: 72
      grad_ratio: 4
    noise_suppression:
      max_ratio: 32
      consist_ratio: 100
      text_ratio: 72
      ssim_ratio: 4
    detail_enhancement:
      max_ratio: 40
      consist_ratio: 80
      text_ratio: 96
      grad_ratio: 6
    structure_consistency:
      max_ratio: 48
      consist_ratio: 100
      text_ratio: 72
      ssim_ratio: 8
    artifact_reduction:
      max_ratio: 32
      consist_ratio: 120
      text_ratio: 96
      ssim_ratio: 6
    default:
      max_ratio: 40
      consist_ratio: 80
      text_ratio: 72
      ssim_ratio: 4
